@model IEnumerable<OrderItem>

<h1>
    "Thanks!", "Thanks for your order! We will contact you for more information", "success"
</h1>-----

<table class="table">
    <thead>
        <tr>
            <th>Menu</th>
            <th>MenuItem</th>
            <th>Price</th>
            <th>Image</th>
            <th>Description</th>
            <th>Sub Total</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var orderItem in Model)
        {
        <tr>
            <td>@orderItem.Id</td>
            <td>@orderItem.MenuItem.Name</td>
            <td>@orderItem.CreatedAt.ToLongDateString()</td>
            <td>@orderItem.Quantity</td>
            <td>&#8358 @orderItem.UnitPrice</td>
            <td>&#8358 @orderItem.Quantity * orderItem.UnitPrice </td>
        </tr>
        }
    </tbody>
</table>

<small class="text-success font-weight-bolder">Manager: FOODEE</small>     <p></p>
<a type="button" class="text-success btn btn-outline-success" asp-action="Index" asp-controller="Home">Go back to Home Page</a>


@section Scripts
{
    <script>
        localStorage.setItem("cart", JSON.stringify([]));
    </script>
}

