@model FOODEE.Models.ViewModel.HomeVM.IndexAnonymous
@{ ViewData["Title"] = "Menu Item";
    ViewData["NoOfItemInCart"] = Model.NumberOfCartItems;}
@{
    Layout = "_CustomerDashboardLayout";
    var isUserLoggedIn = User.Identity.IsAuthenticated;
}
<div class="row">
    @foreach (var item in Model.MenuItems)
    {
        <div id="cart-products" class="productlists p-item col-lg-3 col-sm-12 col-md-6 mr-2 mb-5 card card-size card-edge" style="border-width:1px; border-color:orangered; margin-left:80px">
            <a asp-action="Details" asp-controller="MenuItem" asp-route-id="@item.Id" title="FOODEE" data-toggle="popover" data-trigger="hover" data-content="Click add to cart to enjoy our products">
                <img src="~/Image/@item.Image" class=" p-img img img-responsive zoom" alt="Image">
            </a>
            <div>
                <span class="bigtext p-name">@item.Name</span><span class="money">&#8358 <span class="comma p-price">@item.Price</span></span>
            </div>

            <p class="smalltext p-desc">@item.Description</p>
            @*<button type="submit" id="@item.Id" data-name="@item.Name" data-price="@item.Price" data-id="@item.Id" data-target=""><i class="fas fa-shopping-cart"></i></button>*@
            <button type="submit" onclick="addToCart(this)" id="item-@item.Id" data-name="@item.Name" data-price="@item.Price" data-id="@item.Id" class="" style="width:70%; background-color:orangered; margin-left:20px; margin-right:20px" data-toggle="modal" data-target="#cart-modal"><span class="font-weight-bold" style="color:white; font-family:'Times New Roman'">+ Cart</span></button>
        </div>
    }
</div>
<div id="cart-modal" class="modal fade align-content-center" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="container bg-light">
                <div class="row justify-content-center">
                    <div>
                        <h5 class="text-dark">FOODEE CART </h5>
                    </div>
                </div>
            </div>
            <div class="modal-header ">

                <h5 class="modal-title text-success" id="item-name">Food </h5>

                <button style="color: orangered" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            &#8358 <h5 id="item-price" class="text-dark font-weight-light"></h5>
                        </div>
                        <div class="col-sm-4">
                            <input id="quantity" class="form-control col-sm-12" min="1" type="number" placeholder="Quantity" />
                        </div>
                        <div class="col-sm-4">
                            &#8358 <h5 id="item-total" class="text-primary font-weight-light"></h5>

                        </div>
                    </div>
                </div>
            </div>


            <div class="modal-footer bg-light">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button style="color:red" onclick="saveToCart('@isUserLoggedIn')" href="#myModal" type="button" id="save" class="btn btn-success trigger-btn" data-toggle="modal">Add to Cart</button>

            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box">
                    <i class="fas fa-fw fa-shopping-basket">&#xE876;</i>
                </div>
                <h4 class="modal-title w-100">Awesome!</h4>
            </div>
            <div class="modal-body">
                <p class="text-center">Item added succesfully. Check your Cart for details.</p>
            </div>
            <div class="modal-footer">
                <button onclick="closeModal()" class="btn btn-success btn-block" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>


<div id="cart-items"></div>
<script>
    function numberWithCommas(x) {
        let newNumber = x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
        return newNumber
    }

    let comma = document.getElementsByClassName("comma");

    for (var i = 0; i < comma.length; i++) {
        let result = numberWithCommas(comma[i].innerHTML);
        document.getElementsByClassName("comma")[i].innerHTML = result;
    }



</script>
